*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.zerodha-logo img {
    width: 120px;
    height: 16px;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.navbar .navbar-tools a{
    text-decoration: none;
    color: #444444;
    margin: 0 15px;
    font-size: 14.4px;
    font-weight: 600px;
}