/*overall styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*html styles*/

html {
    scroll-behavior: smooth;
}

/*body styles*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/*navbar styles*/

.navbar {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
}

.navbar .container {
    width: 90%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 15px;
}

.zerodha-logo img {
    width: 140px;
    height: 17.7px;
}

.navbar-tools a{
    text-decoration: none;
    color: rgb(104, 103, 103);
    margin: 20px;
}

.navbar-tools a:hover {
    color: #008cff;
    transition: all 0.3s ease;
}

.hamburger-menu {
    font-size: 24px;
    cursor: pointer;
}