/*overall styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*html styles*/

html {
    scroll-behavior: smooth;
}

/*body styles*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/*navbar styles*/

.navbar {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
}

.navbar .container {
    width: 90%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 17px;
}

.zerodha-logo img {
    width: 140px;
    height: 17.7px;
}

.navbar-tools a{
    text-decoration: none;
    color: rgb(104, 103, 103);
    margin: 20px;
}

.navbar-tools a:hover {
    color: #008cff;
    transition: all 0.3s ease;
}

.hamburger-menu-button {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: rgb(104, 103, 103);
}

/*landing section styles*/

.main-content {
    position: relative;
    z-index: 1;
}

.landing .container{
    text-align: center;
    padding: 25px 20px;
}

.landing .container .landing-image {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 4% auto 20px auto;
}

.landing .container .landing-heading {
    text-align: center;
    color: #515050;
    font-size: 30px;
    font-weight: 500;
}

.landing .container .landing-subheading {
    text-align: center;
    color: #6c6b6b;
    font-size: 19px;
    margin: 15px 0 35px 0;
}

.landing .container .button {
    background-color: #008cff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 600;
}

.landing .container .button:hover {
    background-color: #007acc;
    transition: all 0.3s ease;
}

/*hamburger menu styles*/

.hamburger-menu-container {
    background-color: #fefafe;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 60vh;
    z-index: 999;
    margin: 70px 70px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.hamburger-menu-container.active {
    display: block;
    opacity: 1;
}

.hamburger-menu-container .products-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    height: fit-content;
}

.hamburger-menu-container .products-container h3 {
    font-size: 14px;
    color: #515050;
}

.hamburger-menu-container .products-container p {
    font-size: 13px;
    color: #8f8e8e;
}

.hamburger-menu-container .products-container div:hover {
    cursor: pointer;
    transition: all 0.3s ease;
}

.hamburger-menu-container .menu-footer{
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin: 5vh 0 0 0;
    padding: 20px 0px;
}

.hamburger-menu-container .menu-footer p {
    font-size: 18px;
    color: #515050;
    margin-bottom: 10px;
}

.hamburger-menu-container .menu-footer a {
    display: block;
    font-size: 16px;
    color: #8f8e8e;
    text-decoration: none;
    margin: 5px 0;
}

.hamburger-menu-container .menu-footer a:hover {
    color: #008cff;
    transition: all 0.3s ease;
}

.hamburger-menu-container .education .three-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
    gap: 40px;
}

.hamburger-menu-container .education .three-links span {
    font-size: 16px;
    color: rgb(74, 68, 68);
    cursor: pointer;
}