/*overall styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*html styles*/

html {
    scroll-behavior: smooth;
}

/*body styles*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/*navbar styles*/

.navbar {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
}

.navbar .container {
    width: 90%;
    height: 70px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 17px;
}

.zerodha-logo img {
    width: 140px;
    height: 17.7px;
}

.navbar-tools a{
    text-decoration: none;
    color: rgb(104, 103, 103);
    margin: 20px;
}

.navbar-tools a:hover {
    color: #008cff;
    transition: all 0.3s ease;
}

.hamburger-menu {
    font-size: 24px;
    cursor: pointer;
}

/*landing section styles*/

.landing .container{
    text-align: center;
    padding: 30px 20px;
}

.landing .container .landing-image {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 4% auto 20px auto;
}

.landing .container .landing-heading {
    text-align: center;
    color: #515050;
    font-size: 30px;
    font-weight: 500;
}

.landing .container .landing-subheading {
    text-align: center;
    color: #6c6b6b;
    font-size: 19px;
    margin: 15px 0 35px 0;
}

.landing .container .button {
    background-color: #008cff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 600;
}

.landing .container .button:hover {
    background-color: #007acc;
    transition: all 0.3s ease;
}